.deps/
.libs/

.dirstamp
Makefile.in
Makefile
test-suite.log

/autoaux/
/autom4/
/autom4te.cache/

/aclocal.m4
/configure
/config.log
/config.status
/libtool
/src/config.h.in
/src/config.h
/src/stamp-h1

lib*.la
*~
*.cod
*.hex
*.lst
*.lo
*.o
*.wasm
*_test
*_test.js
*_test.log
*_test.trs
